.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: auto;
    height: 62px;

    background-color: #15421C;
}

.logopri {
    padding: 40px !important;
    width: 100%;
    max-width: 121px;
    min-width: 121px;
}

.ulheader {
    display: flex;
    align-items: center;
}

.ulcontato {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.nav {
    padding-right: 2%;
}

.nucleo {
    padding: 15px;

    text-decoration: none;
    font-family: 'Khand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: none;

    color: #FFFFFF;
}

.contato {
    background-image: url("./images/contato.png");
    width: 140px;
    max-width: 140px;
    height: 35px;
    font-size: 15px;
    color: #000000;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    transition-duration: 0.2s;
    font-family: 'Khand', sans-serif;
}



.contatec {
    margin: 5%;
    font-family: 'Khand';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.01em;
    white-space: nowrap;

    color: #15421C;
}

.maincontt {
    display: flex;
    width: 100%;
    max-width: auto;
}

.maincomps {
    margin-bottom: 10%;
    margin-inline: 13%;
    display: flex;
    width: 100%;
    max-width: auto;
    justify-content: space-between;
    align-items: center;

}

.mainimage {
    width: 100%;
    height: auto;
    min-width: 465px;
    max-width: 465px;
}


.mainboxx{
    box-sizing: border-box;

    width: 100%;
    max-width: 385px;
    min-width: 385px;
    max-height: 455px;
    min-height: 455px;


    background: #ebebee;
    border: 1px solid #000000;
    border-radius: 20px;
}

.sendemail {
    font-family: 'Khand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;

    text-align: center;
    padding-top: 60px;
    color: #15421C;
}

.sendmail2 {
    padding-top: 20px;
    font-family: 'Khand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}

.nucleo:hover {
    color: #b2c9b7;
    transition: 0, 8s;
}

.nucleo:hover::before {
    transition: 2s;
}

.contato:hover {
    border: 1px solid #FFFFFF;
}

.footer {
    background-image: url("./images/footerback.png");
    background-color: #15421C;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 780px;
}

.footerfirstpart{
  height: 50%;
  padding: 40px;
}

.footersecpart{
  height: 50%;
  padding: 40px;
  
}

.compsltc{
  display: grid;
  /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
  grid-template-rows: repeat(3, 1fr);
  /* esssa é a altura das linhas, se vc quiser pode apaga-la caso não queira uma altura definida */
  grid-auto-rows: 100px;
  /* espaço entre um elemento interno e outro */
  grid-gap: 5px 8px;
  /* margem interna que afasta os elementos da borda do grid */
  padding: 20px 10px;
}

.textofooter {
  font-family: 'Khand', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
              
  color: #FFFFFF;
}

.local{
    width: 33.62px;
    height: 48.02px;
}

.localrow{
    display: flex;
    align-items: center;
}

.localtext{
  padding: 15px;
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  
  color: #FFFFFF;
}

.carta{
    width: 41.38px;
    height: 29.49px;
}

.cartarow{
  display: flex;
  align-items: center;
}

.telefone {
    width: 40.52px;
    height: 39.6px;
}

.telrow{
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
    .ulheader {
        display: none;
    }

    .maincomps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: auto;

    }

    .maincomps>div {
        flex: 1 1 500px;
        margin: 150px;
    }
}