.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: auto;
    height: 62px;

    background-color: #15421C;
}

.logopri {
    padding: 40px !important;
    width: 100%;
    max-width: 121px;
    min-width: 121px;
}

.ulheader {
    display: flex;
    align-items: center;
}

.ulcontato {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.nav {
    padding-right: 2%;
}

.nucleo {
    padding: 15px;

    text-decoration: none;
    font-family: 'Khand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: none;

    color: #FFFFFF;
}

.contato {
    background-image: url("./images/contato.png");
    width: 140px;
    max-width: 140px;
    height: 35px;
    font-size: 15px;
    color: #000000;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    transition-duration: 0.2s;
    font-family: 'Khand', sans-serif;
}



.contatec {
    margin: 5%;
    font-family: 'Khand';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.01em;
    white-space: nowrap;

    color: #15421C;
}

.sectionone{
    background: linear-gradient(#b2c9b7 , #fff, #FFFFFF);
    background-size: 100%;
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biblitext {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #15421C;
}

.sectiontwo {
    background: #15421C;
    background-size: 100%;
    max-width: 300vh;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.texts2 {
    display: inline;
    padding: 30vh;
}

.ofon {
    padding-bottom: 10px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.sectcoment {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 30vh;
}

.sectcoment2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    
}

.sectionthree {
    background: #0b220e;
    background-size: 100%;
    max-width: 300vh;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbarr {
    width: 750px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.searchtext {
    padding: 15px;
    font-size: 16px;
    opacity: 50%;
}

.sectionfour {
    background-color: #0b220e;
    max-width: 300vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fb {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;

    margin-left: 15vh;
}

.sectionfive {
    background-color: #0b220e;
    max-width: 300vh;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fivedivs1 {
    width: 250px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 30vh;

}

.fivedivs2 {
    width: 250px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.fivedivs3 {
    width: 250px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 30vh;
}







.nucleo:hover {
    color: #b2c9b7;
    transition: 0, 8s;
}

.nucleo:hover::before {
    transition: 2s;
}

.contato:hover {
    border: 1px solid #FFFFFF;
}

@media (max-width: 1000px) {
    .ulheader {
        display: none;
    }

    .maincomps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: auto;

    }

    .maincomps>div {
        flex: 1 1 500px;
        margin: 150px;
    }
}