header {
  position: fixed;
  z-index: 999;
  height: 70px;
  margin-bottom: 70px;
}

p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;
}

.sectionone {
    background-image: url(../assets/main.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  
.sectionone div {
  position: relative;
  padding: 40px;
  width: 70%;
  text-align: left;
  top: 80px;
  left: 200px;
}

.sectionone div h1 {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-variant: small-caps;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.objetivo {
  text-align: left;
  display: flex;
  width: 100%;
  background-color: #405059;
  height: auto;
  padding: 40px;
}

.objetivo .objetivo_geral {
  margin: 0 auto;
  display: flex;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 50px;
}

.objetivo .objetivo_txt {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.objetivo h2 {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-variant: small-caps;
  color: #FFFFFF;
}

.objetivo p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;
}

.conferir h4 {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}

.conferir p {
  font-family: 'Belanosima', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
  color: #72f1f1;
}

.conferir {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

h3 {
  text-align: center;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #405059;
}

.conferir .principal_conferir {
  min-width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0C8F8F;
  border-radius: 1000px 1000px 60px 60px;
  padding: 10px;
}

.conferir .principal_conferir ul {
  width: 100px;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 15px;
}

.conferir .principal_conferir ul li p {
  line-height: 40px;
  color: white;
  font-size: 15px;
}

.conferir .principal_conferir button {
  display: flex;
  color: #ffffff;
  background-color: transparent;
  border: none;
  position: relative;
  right: -200px;
  width: 100px;
  cursor: pointer;
}

.nossos-numeros-pai {
  display: flex;
  justify-content: center;
}

.nossos-numeros {
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.nossos-numeros .numeros-principal{
  align-items: center;
  display: flex;
  gap: 40px;
  width: 100%;
}

.nossos-numeros .numeros-principal div {
  background-color: #0C8F8F;
  min-width: 200px;
  min-height: 150px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2)
}

.nossos-numeros .numeros-principal div span {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.nossos-numeros .numeros-principal div p {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.nossos-numeros h1 {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: -2px;
  font-variant: all-small-caps;
  color: #405059;
}

.imagem_objetivo {
  background-color: white;
  width: 30vw;
  height: 321px;
  border-radius: 10px;
}

main {
  position: relative;
  top: 70px;
}

footer {
  position: relative;
  top: 70px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

.slide-principal h1 {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-variant: small-caps;
  color: #FFFFFF;
  margin-bottom: 30px;
}