* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

header {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 30px;
    align-items: center;
    display: flex;
    backdrop-filter: blur(13px);
    transition: background-color 0.3s ease-in-out;
}

header:hover {
    background-color: white;
}

a,
header ul,
header li {
    list-style: none;
    text-decoration: none;
}

header nav,
ul {
    align-items: center;
    display: flex;
}

header nav {
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

header nav ul {
    width: 50%;
    justify-content: space-between;
}

header nav ul li a {
    /* personalizar letras da nav */
    font-family: 'Belanosima', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

nav .links {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
  }
  
  nav .links::before {
    content: "";
    position: absolute;
    display: block;
    width: 0; /* Alteração aqui */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0C8F8F;
    transform-origin: left; /* Alteração aqui */
    transform: scaleX(0);
    transition: transform 0.3s ease, width 0.3s ease; /* Alteração aqui */
  }
  
  nav .links:hover::before {
    width: 100%; /* Alteração aqui */
    transform: scaleX(1);
  }
  

main .introducao_projetos .txt,
.mes {
    background-color: #0C8F8F;
    width: 100%;
    padding: 40px;
    text-align: center;

}

main .introducao_projetos .txt h1,
.mes h2 {
    /* Projetos */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    /* identical to box height */
    text-align: center;
    font-variant: all-small-caps;
    color: #FFFFFF;
}

main .introducao_projetos .txt p {
    /* Confira os projetos desenvolvidos pelo nosso laboratório */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 55px;
    /* identical to box height, or 180% */
    color: #FFFFFF;


}

main .introducao_projetos .mes {
    margin-top: 4em;
    background-color: #405059;
}

main .pricipal_projetos {
    position: relative;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;

}

main .pricipal_projetos .projeto {
    /* Nome do projeto */
    margin-top: 6em;
    background-color: #ffffff;
    width: 280px;
    padding: 25px;
    flex-direction: column;
    display: flex;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2)
}

main .pricipal_projetos .projeto h3 {
    /* Nome do projeto */

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #405059;


}

main .pricipal_projetos .projeto p {
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. */

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 28px;
    color: #405059;


}

main .pricipal_projetos .projeto button {
    width: 100px;
    padding: 10px;
    background-color: white;
    border: 2px solid #0C8F8F;
    cursor: pointer;
    color: #0C8F8F;
}

footer {
    margin-top: 3em;
    padding: 70px;
    width: 100%;
    background-color: #12171A;

}

footer .nav_footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

footer .nav_footer div {
    width: 220px;
}

footer .nav_footer h4 {
    /* Sobre */

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;


}

footer .nav_footer p {
    /* Sobre nós */

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #737373;

}

footer .logo_footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}